* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "", sans-serif;
}

body {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow-x: hidden;
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
}

.heading {
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-left: 5rem;
}

.toggle {
  position: relative;
  display: flex;
  height: 2.5rem;
  width: 5rem;
  border-radius: 10rem;
  justify-content: center;
  align-items: center;
  left: 15%;
  background-color: #e7e7e7;
  cursor: pointer;
}

.circle {
  position: absolute;
  width: 2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: 0;
  left: 5px;
  transition: all 0.5s;
  background-color: orange;
  cursor: pointer;
}

#formSearch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.searchBar {
  width: 50%;
  height: 3rem;
  font-size: 20px;
  text-align: center;
  border-radius: 4rem;
  outline: 0;
}

.box {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box input {
  position: relative;
  text-align: start;
  padding: 0px 20px;
  outline: 0;
  border: 2px solid #6f6f6f;
  background-color: #e7e7e7;
}

.box i {
  position: absolute;
  left: 70%;
  cursor: pointer;
}

.searchContainer {
  height: auto;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.boxOfImojees {
  height: 10rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #6f6f6f;
  border-radius: 15px;
  text-wrap: wrap;
  word-wrap: break-word;
  text-align: center;
  gap: 0.5rem;
  padding: 5px;
  background-color: #e7e7e7;
  box-shadow: 5px 5px 5px cornflowerblue;
}

.emoji {
  width: 50px;
  font-size: 1.5rem;
  transition: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transform: rotate(45deg);
}

.aliases {
  width: 100%;
  word-wrap: break-word;
  font-size: 1.1rem;
  font-weight: bolder;
}

.description {
  width: 100%;
  word-wrap: break-word;
  font-size: 1.1rem;
}

.boxOfImojees:hover .emoji {
  transform: rotate(0deg);
  cursor: pointer;
  transform: scale(5);
}

.boxOfImojees:hover {
  background-color: #cdcdcd;
}

@media screen and (max-width: 320px) {
  body {
    overflow-x: hidden;
  }
  .heading {
    width: 100%;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1rem;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  h1 {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: start;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
  }

  .toggle {
    position: relative;
    display: flex;
    height: 2.5rem;
    width: 5rem;
    border-radius: 10rem;
    justify-content: center;
    align-items: center;
    left: 0;
    background-color: #e7e7e7;
    cursor: pointer;
  }

  .circle {
    position: absolute;
    width: 2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: 0;
    left: 5px;
    transition: all 0.5s;
    background-color: orange;
    cursor: pointer;
  }

  #formSearch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .searchBar {
    width: 230px;
    height: 3rem;
    font-size: 20px;
    text-align: center;
    border-radius: 4rem;
    outline: 0;
  }

  .box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box input {
    position: relative;
    text-align: start;
    padding: 0px 20px;
    outline: 0;
    border: 2px solid #6f6f6f;
    background-color: #e7e7e7;
  }

  .box i {
    position: absolute;
    left: 74%;
    cursor: pointer;
  }

  .searchContainer {
    height: auto;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
  body {
    overflow-x: hidden;
  }
  .heading {
    width: 100%;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1rem;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  h1 {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: start;
    margin-bottom: 0.5rem;
    margin-left: 4rem;
  }

  .toggle {
    position: relative;
    display: flex;
    height: 2.5rem;
    width: 5rem;
    border-radius: 10rem;
    justify-content: center;
    align-items: center;
    left: 0;
    background-color: #e7e7e7;
    cursor: pointer;
  }

  .circle {
    position: absolute;
    width: 2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: 0;
    left: 5px;
    transition: all 0.5s;
    background-color: orange;
    cursor: pointer;
  }

  #formSearch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .searchBar {
    width: 230px;
    height: 3rem;
    font-size: 20px;
    text-align: center;
    border-radius: 4rem;
    outline: 0;
  }

  .box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box input {
    position: relative;
    text-align: start;
    padding: 0px 20px;
    outline: 0;
    border: 2px solid #6f6f6f;
    background-color: #e7e7e7;
  }

  .box i {
    position: absolute;
    left: 74%;
    cursor: pointer;
  }

  .searchContainer {
    height: auto;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media screen and (min-width: 377px) and (max-width: 426px) {
  body {
    overflow-x: hidden;
  }
  .heading {
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  h1 {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: start;
    margin-bottom: 0.5rem;
  }

  .toggle {
    position: relative;
    display: flex;
    height: 2.5rem;
    width: 5rem;
    border-radius: 10rem;
    justify-content: center;
    align-items: center;
    left: 0;
    background-color: #e7e7e7;
    cursor: pointer;
  }

  .circle {
    position: absolute;
    width: 2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: 0;
    left: 5px;
    transition: all 0.5s;
    background-color: orange;
    cursor: pointer;
  }

  #formSearch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .searchBar {
    width: 230px;
    height: 3rem;
    font-size: 20px;
    text-align: center;
    border-radius: 4rem;
    outline: 0;
  }

  .box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box input {
    position: relative;
    text-align: start;
    padding: 0px 20px;
    outline: 0;
    border: 2px solid #6f6f6f;
    background-color: #e7e7e7;
  }

  .box i {
    position: absolute;
    left: 70%;
    cursor: pointer;
  }

  .searchContainer {
    height: auto;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media screen and (min-width: 427px) and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .heading {
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  h1 {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .toggle {
    position: relative;
    display: flex;
    height: 2.5rem;
    width: 5rem;
    border-radius: 10rem;
    justify-content: center;
    align-items: center;
    left: 7%;
    background-color: #e7e7e7;
    cursor: pointer;
  }

  .circle {
    position: absolute;
    width: 2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: 0;
    left: 5px;
    transition: all 0.5s;
    background-color: orange;
    cursor: pointer;
  }

  #formSearch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .searchBar {
    width: 440px;
    height: 3rem;
    font-size: 20px;
    text-align: center;
    border-radius: 4rem;
    outline: 0;
  }

  .box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box input {
    position: relative;
    text-align: start;
    padding: 0px 20px;
    outline: 0;
    border: 2px solid #6f6f6f;
    background-color: #e7e7e7;
  }

  .box i {
    position: absolute;
    left: 74%;
    cursor: pointer;
  }

  .searchContainer {
    height: auto;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .heading {
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  h1 {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .toggle {
    position: relative;
    display: flex;
    height: 2.5rem;
    width: 5rem;
    border-radius: 10rem;
    justify-content: center;
    align-items: center;
    left: 15%;
    background-color: #e7e7e7;
    cursor: pointer;
  }

  .circle {
    position: absolute;
    width: 2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: 0;
    left: 5px;
    transition: all 0.5s;
    background-color: orange;
    cursor: pointer;
  }

  #formSearch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .searchBar {
    width: 550px;
    height: 3rem;
    font-size: 20px;
    text-align: center;
    border-radius: 4rem;
    outline: 0;
  }

  .box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box input {
    position: relative;
    text-align: start;
    padding: 0px 20px;
    outline: 0;
    border: 2px solid #6f6f6f;
    background-color: #e7e7e7;
  }

  .box i {
    position: absolute;
    left: 74%;
    cursor: pointer;
  }

  .searchContainer {
    height: auto;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
